In [65]:
print("python")

python

In [63]:
age=19
name="python"
print(age)
print(name)
print("age is --",age,",","name is --",name)

19
python
age is -- 19 , name is -- python

In [66]:
#using f string

age=19
name="python"
print(f"Age is:{age}\nName is:{name}")

Age is:19
Name is:python

In [62]:
#using format function

age=19
name="python"
print("Age is:{}\nName is:{}".format(age,name))

Age is:19
Name is:python

In [60]:
#string separation

a="hello"
b="python"
print(a,b,sep='#')
print(a,b)
print(a)
print(b)
print(a,end=' ')
print(b,end=' ')

hello#python
hello python
hello
python
hello python

In [13]:
#adding two numbers by taking input by user

num1=float(input("Enter the first number: "))
num2=float(input("Enter the second number: "))

sum=num1+num2
print("sum=",sum)

Enter the first number: 456
Enter the second number: 4521
sum= 4977.0

In [14]:
#swapping of two numbers using third variable

a=int(input("Enter the first number: "))
b=int(input("Enter the second number: "))

print("before swapping: ","a=",a,"b=",b)

swap=a
a=b
b=swap

print("after swapping: ","a=",a,"b=",b)

Enter the first number: 52
Enter the second number: 21
before swapping:  a= 52 b= 21
after swapping:  a= 21 b= 52

In [43]:
#perimeter of the triangle
print("Enter the side of triangle")

a=float(input("a= "))
b=float(input("b= "))
c=float(input("c= "))

peri=a+b+c
print("perimeter=",peri)

Enter the side of triangle
a= 45
b= 12
c= 13
perimeter= 70.0

In [44]:
#perimeter of the triangle
import math
print("Enter the side of triangle")

a=float(input("a= "))
b=float(input("b= "))
c=float(input("c= "))

peri=a+b+c
print("perimeter=",peri)

s=peri/2
area=math.sqrt(s*(s-a)*(s-b)*(s-c))
print("area=",area)

Enter the side of triangle
a= 12
b= 11
c= 13
perimeter= 36.0
area= 61.48170459575759

In [ ]:
#conversion of temperature from fahrenheit to celsius

f=float(input("Enter temperature in fahrenheit"))

In [45]:
#average of three numbers

print("Enter the three numbers: ")
a=float(input("Enter a "))
b=float(input("Enter b "))
c=float(input("Enter c "))

average=(a+b+c)/3
print("Average is: ",average)

Enter the three numbers:
Enter a 52
Enter b 45
Enter c 56
Average is:  51.0

In [46]:
#to calculate the hypotenuse of a right angle triangle
import math

side1=float(input("Enter the first side: "))
side2=float(input("Enter the second side: "))

h=math.sqrt(side1**2+side2**2)
print(f"hypotenuse is:{h:.2f}")

Enter the first side: 6
Enter the second side: 4
hypotenuse is:7.21

In [97]:
#to calculate the compound interest
import math

principal=float(input("Enter the priuncipal amount: "))
rate=float(input("Enter the annual rate of interest(in %): "))
time=float(input("Enter the time(in yeras): "))

compound_interest=principal*(1+rate/100)**time-principal
print(f"The compound interest is:{compound_interest:.2f}")

Enter the priuncipal amount: 3000
Enter the annual rate of interest(in %): 12
Enter the time(in yeras): 2
The compound interest is:763.20

In [98]:
#to calculate the the sum of 5 subject marks and percentage
print("Enter the marks of all five subject:")

maths=int(input("enter marks in maths: "))
physics=int(input("enter marks in physics: "))
chemistry=int(input("enter marks in chemistry: "))
english=int(input("enter marks in english: "))
computer_science=int(input("enter marks in computer_science: "))

total_marks=maths+physics+chemistry+english+computer_science
print("Total marks obtained out of 500 is: ",total_marks)

percentage=total_marks/500*100
print("percentage is: ",percentage)

Enter the marks of all five subject:
enter marks in maths: 83
enter marks in physics: 80
enter marks in chemistry: 79
enter marks in english: 81
enter marks in computer_science: 85
Total marks obtained out of 500 is:  408
percentage is:  81.6

In [50]:
#keywords

import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [1]:
#checking type

a='A'
b=2.5
c=15
d='hello'

print(type(a),type(b),type(c),type(d))

<class 'str'> <class 'float'> <class 'int'> <class 'str'>

In [9]:
#assigning values

x=y=z=10.5
print(x,y,z)
x,y,z=10,20,30
print(x,y,z)
x,y,z=10,2.56,'hello'
print(x,y,z)

10.5 10.5 10.5
10 20 30
10 2.56 hello

In [11]:
#checking memory location

x=243
y='A'

id(x)
id(y)

140723985793024

In [20]:
#number system

a=5
print(a)

x=0b101
print(x)

y=0B1010
print(y)

z=0o234
print(z)

b=0xA234
print(b)

5
5
10
156
41524

In [23]:
#data type float

a=1.2e3
print(type(a))
print(a)

<class 'float'>
1200.0

In [35]:
#complex data type

a=2+3j
print(type(a))

x=0b11+3j
print(x)

y=0o11+3j
print(y)

z=0x11+3j
print(z)

b=0x1F+3j
print(b)

#c=0b11+0b01j
#error invalid binary literal

d=3+0j
print(d)

e=2.3+4.5j
print(e)

#f=0b11.11+3j
#print(f)
#error invalid syntax

g=2.3+4j
print(g.real)
print(g.imag)

<class 'complex'>
(3+3j)
(9+3j)
(17+3j)
(31+3j)
(3+0j)
(2.3+4.5j)
2.3
4.0

In [37]:
# boolean data type

a=True
b=False
print(type(a))
print(type(b))

c=None
print((c))

<class 'bool'>
<class 'bool'>
None

In [39]:
#boolean output check

a=20
b=30
c=b>a
d=b<a
print("c: ",c)
print("d: ",d)
print(type(c))

c:  True
d:  False
<class 'bool'>

In [49]:
# string data type

x="hello"
y='python'
print(type(x),type(y))

z='Q'
p="M"
print(type(z),type(p))

r="learning python is very easy"
print(r)

#s="learning python
    #is very easy"
#print(s)
#error

t='''learing python
is easy'''
print(t)

<class 'str'> <class 'str'>
<class 'str'> <class 'str'>
learning python is very easy
learing python
is easy

In [58]:
#type conversions int

int(45)
#int('Hi')
#int(3+4j)
int(True)
#int(None)
int(a)

52

In [63]:
#type conversions float

float(20)
#float(25+3j)
float(False)
float('10')
#float('Hello')

10.0

In [64]:
#type conversions complex

complex(10)

(10+0j)

In [65]:
#type conversions comples

complex(True)

(1+0j)

In [66]:
#type conversions comples

complex(4.5)

(4.5+0j)

In [67]:
#type conversions comples

complex('10')

(10+0j)

In [68]:
#type conversions comples

complex("4.5")

(4.5+0j)

In [69]:
#type conversions comples

complex('Hi')

ValueError: complex() arg is a malformed string

In [70]:
#type conversions comples

complex(H)

NameError: name 'H' is not defined

In [71]:
#type conversions complex

complex(10,5)

(10+5j)

In [72]:
#type conversions complex

complex(4.5,2.5)

(4.5+2.5j)

In [73]:
#type conversions complex

complex(True,False)

(1+0j)

In [74]:
#type conversions complex

complex('10','12')

TypeError: complex() can't take second arg if first is a string

In [75]:
#type conversions complex

complex('4.5','6.5')

TypeError: complex() can't take second arg if first is a string

In [76]:
#type conversions complex

complex('4.5',6)

TypeError: complex() can't take second arg if first is a string

In [77]:
#type conversions complex

complex(False,True)

1j

In [78]:
#boolean type conversions

bool(4)

True

In [79]:
#boolean type conversions

bool(-3)

True

In [80]:
#boolean type conversions

bool(0)

False

In [81]:
#boolean type conversions

bool(1.5)

True

In [82]:
#boolean type conversions

bool(0.0)

False

In [83]:
#boolean type conversions

bool('10')

True

In [84]:
#boolean type conversions

bool("4.5")

True

In [85]:
#boolean type conversions

bool('Hi')

True

In [86]:
#boolean type conversions

bool(None)

False

In [87]:
#boolean type conversions

bool(0+3j)

True

In [88]:
#boolean type conversions

bool(0+0j)

False

In [90]:
#boolean type conversions

bool('')

False

In [91]:
#boolean type conversions

bool(' ')

True

In [92]:
#str type conversions

str(4.5)

'4.5'

In [93]:
#str type conversions

str(45)

'45'

In [94]:
#str type conversions

str(3+5j)

'(3+5j)'

In [95]:
#str type conversions

str(False)

'False'

In [96]:
#str type conversions

str(' ')

' '

In [99]:
#ascii

chr(65)

'A'

In [100]:
#ascii

chr(90)

'Z'

In [105]:
#ascii

ord('a')

97

In [108]:
ord('0')

48

In [113]:
#ascii

ord('@')

64

In [118]:
bool('a'>'D')

True

In [120]:
#type casting (implicit)

a=3.5
b=2
c=a/b
d=b/a
print(type(a),type(b),type(c),type(d))

<class 'float'> <class 'int'> <class 'float'> <class 'float'>

In [122]:
#type casting (explicit)

x="10"
y=int(x)+5
print(y)
print(type(y))

15
<class 'int'>

In [128]:
#sequence data type

my_list=[1,2,3]
my_tuple=(1,2,3)
my_range=range(5)

print(type(my_list),type(my_tuple),type(my_range))

<class 'list'> <class 'tuple'> <class 'range'>

In [129]:
#mapping data type

details={"name":"Alice","age":25}
print(type(details))

<class 'dict'>

In [130]:
#set type

my_set={1,2,3}
my_frozenset=frozenset([6,7,5])

print(type(my_set))
print(type(my_frozenset))

<class 'set'>
<class 'frozenset'>

In [134]:
#arithematic operators

x=8
y=9
print("x+y=",x+y)
print("x-y=",x-y)
print("x*y=",x*y)
print("x/y=",x/y)
print("x%y=",x%y)
print("x//y=",x//y)
print("x**y=",x**y)

x+y= 17
x-y= -1
x*y= 72
x/y= 0.8888888888888888
x%y= 8
x//y= 0
x**y= 134217728

In [136]:
#realationsl operators

x=5
y=3
print("x==y=",x==y)
print("x!=y=",x!=y)
print("x>y=",x>y)
print("x<y=",x<y)
print("x>=y=",x>=y)
print("x<=y=",x<=y)

x==y= False
x!=y= True
x>y= True
x<y= False
x>=y= True
x<=y= False

In [137]:
#logical operators

a=5
b=6
c=3
print((a>b) and (b!=c))
print((a>b) or (b!=c))
print(not(a>b))
print((a>b)) and (not(b))

False
True
True
False

In [140]:
#bitwise operator

a=5
b=3

print((a&b))
print((a|b))
print((a^b))
print((~a))
print((~b))
print((a<<1))
print((a>>1))

1
7
6
-6
-4
10
2

In [151]:
#swapping of two operators using butwise operator

x=2
y=3

print("before swapping")
print("x=",x)
print("y=",y)
x=x^y
y=x^y
x=y^x
print("after swapping")
print("x=",x)
print("y=",y)

before swapping
x= 2
y= 3
after swapping
x= 3
y= 2

In [152]:
#using in and not in

text="python is busy"
print("busy" in text)
print("python" not in text)

True
False

In [8]:
#string indexing

str1='computer'
print(str1[2])
print(str1[-3])
var=str1[6]
print(var)

m
t
e

In [19]:
#string slicing

text="python programming"

print(text[0:6])
print(text[:6])
print(text[7:])
print(text[5:-8])
print(text[::2])
print(text[-10:-17])
print(text[8:16:2])
print(text[0:12:2])
print(text[::-1])     #to print reverse string
print(text[::])

python
python
programming
n pro
pto rgamn

rgam
pto rg
gnimmargorp nohtyp
python programming

In [25]:
#string formatting

name="Alice"
age="19"
print("My name is {} and i am {} years old.".format(name,age))
print("My name is {1} and i am {0} years old.".format(age,name))
print("My name is {a} and i am {b} years old.".format(a=name,b=age))

My name is Alice and i am 19 years old.
My name is Alice and i am 19 years old.
My name is Alice and i am 19 years old.

In [27]:
#string formatting

name="Alice"
age=19
print("My name is %s and i am %d years old."%(name,age))

My name is Alice and i am 19 years old.

In [38]:
#joining of strings

str1="python "
str2="programming"
result=str1+str2
print(result)

python programming

In [40]:
#repetition a string

text="python "
print(text*4)
print(5*text)

python python python python
python python python python python

In [42]:
#checking for substring using in and not

text="Python Programming"
print("Python" in text)
print("Java" not in text)
print("Programming" not in text)

True
True
False

In [51]:
print("The integer number is: {}".format(123))
print("The integer number is: {:d}".format(123))
print("The integer number is: {:5d}".format(123))
print("The integer number is: {:05d}".format(123))
print("The integer number is: {:f}".format(123.4567))
print("The integer number is: {:8.3f}".format(123.4567))
print("The integer number is: {:08.3f}".format(123.4567))

The integer number is: 123
The integer number is: 123
The integer number is:   123
The integer number is: 00123
The integer number is: 123.456700
The integer number is:  123.457
The integer number is: 0123.457

In [52]:
print("BinaryFormat:{0:b}".format(123))

BinaryFormat:1111011

In [54]:
print("OctalFormat:{0:o}".format(123))

OctalFormat:173

In [55]:
print("HexadecimalFormat:{0:X}".format(154))

HexadecimalFormat:9A

In [58]:
print("HexadecimalFormat:{0:x}".format(154))

HexadecimalFormat:9a

In [59]:
print("Integer number:{:+d}".format(23))

Integer number:+23

In [63]:
print("Integer number:{:d}".format(-23))

Integer number:-23

In [73]:
#common string methods

text=" Python Programming "

print(text.lower())
print(text.upper())
print(text.strip())
print(text.split())
print("-".join(text))

 python programming
 PYTHON PROGRAMMING
Python Programming
['Python', 'Programming']
 -P-y-t-h-o-n- -P-r-o-g-r-a-m-m-i-n-g-

In [74]:
text="Python Programming"
words=text.split()
joined="-".join(words)
print(joined)

Python-Programming

In [75]:
text="Python Programming"
print(text.replace("Python","R"))

R Programming

In [79]:
x='python'
print(len(x))

6

In [80]:
x='python'
y='python'
print(x==y)

True

In [81]:
x='python'
y='java'
print(x==y)

False

In [82]:
x='python'
y='java'
print(x<y)

False

In [85]:
t='BtechAIStudent'
print(t.find('e',4,15))
print(t.find('e',4,5))

11
-1

In [1]:
#list

L1=[]
print(L1)

[]

In [7]:
L2=[2,3.4,5,"hello"]
print(L2)
L2[1]=10
print(L2)

[2, 3.4, 5, 'hello']
[2, 10, 5, 'hello']

In [5]:
L3=[2,3,4,5.6,"python"]
print(L3[3])
print(L3[4])

5.6
python

In [8]:
#tuple

t1=(2,3.5,'Hi')
print(t1)

(2, 3.5, 'Hi')

In [11]:
t2=(2,33,4.5,4,'python')
print(t2)

(2, 33, 4.5, 4, 'python')

In [13]:
t1=(4,)
print(t1)
print(type(t1))

(4,)
<class 'tuple'>

In [15]:
t2=(2,3,5.6,'Hi')
print(t2)
L1=list(t2)
L1[0]=5
t2=tuple(L1)
print(t2)

(2, 3, 5.6, 'Hi')
(5, 3, 5.6, 'Hi')

In [24]:
#set
s1={2,3,5,4,6,7,}
print(s1)
print(type(s1))

{2, 3, 4, 5, 6, 7}
<class 'set'>

In [17]:
print(s1)

{2, 3, 4, 5, 6, 7}

In [18]:
s2={22,34,56,56,5,7,8}
print(s2)

{34, 5, 22, 7, 8, 56}

In [19]:
s3={}
print(type(s3))

<class 'dict'>

In [23]:
s3=set()
print(s3)
print(type(s3))

set()
<class 'set'>

In [25]:
#dictionary

d1={1:"singapore",2:"ireland",3:"United states",4:"germany"}
print(d1)

{1: 'singapore', 2: 'ireland', 3: 'United states', 4: 'germany'}

In [26]:
text="United states"
text.count('e')

2

In [29]:
#extracting initials from a full name
full_name="John Doe"
def get_initials(full_name):
    name="".join([name[0].upper() name])

['John', 'Doe']

In [31]:
sentence="python is fun"
words=sentence.split()
print(words)
reversed_sentence=" ".join(reversed(words))
print(reversed_sentence)

['python', 'is', 'fun']
fun is python

In [32]:
#palindrome

t1="madam"
t2=t1[::-1]
print(t1==t2)

True

In [1]:
#string operation  islower()

text="Python Programming"

text.islower()

False

In [2]:
#string operation  isupper()

text="Python Programming"
text.isupper()

False

In [1]:
#string operation  swapcase()

text="Python Programming"
text.swapcase()

'pYTHON pROGRAMMING'

In [3]:
#string operation   capitalize()

text="Python Programming"
text.capitalize()

'Python programming'

In [4]:
#string operation    title()

text="Python Programming"
text.title()

'Python Programming'

In [5]:
#string operation  isalnum()

text="Python Programming"
text.isalnum()

False

In [6]:
#string operation   isalpha()

text="Python Programming"
text.isalpha()

False

In [7]:
#string operation    islower()

text="Python Programming"
text.islower()

False

In [8]:
#string operation    istitle()

text="Python Programming"
text.istitle()

True

In [9]:
#string operation    isdigit()

text="Python Programming"
text.isdigit()

False

In [10]:
#string operation    isupper()

text="Python Programming"
text.isupper()

False

In [11]:
#string operation     islower()

text="Python Programming"
text.islower()

False

In [12]:
#string operation    isspace()

text="Python Programming"
text.isspace()

False

In [ ]:
#CONTROL STATEMENTS

'''Categorised in three parts:

1 conditional
2 transfer/jump
3 iterative

'''

In [ ]:
#conditional (decision making)
'''syntax
 
    if condition:
         statements    
    statements    # not part of if block
    '''

In [17]:
#if statement

age=int(input("Enter age: "))
if age>=18:
        print("You are eligible to vote.")

Enter age: 19
You are eligible to vote.

In [29]:
#write a python program to convert a number to its absolute value if its negative

number=int(input("Enter a enteger: "))
if number<0:
    print("absolute number is: ",(-1)*number)
    print("absolute value is: ",abs(number))
    print("absolute value is: {:+d}".format(x))

Enter a enteger: -8
absolute number is:  8
absolute value is:  8
absolute value is: -8

In [30]:
#covert a number to its absolute if it is negative

number=int(input("Enter a enteger: "))
if number<0:
    x=abs(number)
    print("absolute value is: {:+d}".format(x))

Enter a enteger: -8
absolute value is: +8

In [40]:
# if-else statement

number=int(input("input number: "))
if number%2==0:
    print("number {} is even.".format(number))
else:
    print("number {} is odd.".format(number))

input number: 45
number 45 is odd.

In [41]:
#to check the number is negative or positive

x=int(input("Enter any integer: "))
if x<0:
    print("The number {} is negative: ".format(x))
else:
    print("The number {} is positive: ".format(x))

Enter any integer: 62
The number 62 is positive:

In [44]:
#comparing two numbers

x=int(input("Enter first number: "))
y=int(input("Enter second number: "))

if x>y:
    print("{} is greater than {}.".format(x,y))
else:
    print("{} is smaller than {}.".format(x,y))

Enter first number: 56
Enter second number: 45
56 is greater than 45.

In [45]:
#ternary
#SYNTAX   exp1 if condition else exp2

n1=int(input())
n2=int(input())

print(n1 if n1<n2 else n2)

5
6
5

In [54]:
# nested if statements

#write a python program to check wheather a person can donate a blood or not

age=int(input("input age: "))

if age>=18:
    weight=float(input("input weight in kg: "))
    if weight>=50:
        print("Eligible to donate blood.")
    else:
        print("Not eligible to donate blood.")
else:
    print("Not eligible to donate blood.")

input age: 20
input weight in kg: 60
Eligible to donate blood.

In [58]:
# find the greatest number among the three

a=int(input("input 1st number: "))
b=int(input("input 2nd number: "))
c=int(input("input 3rd number: "))

if a>b:
    if a>c:
        print("a is greater")
    else:
        print("c is greater")
else:
    if b>c:
        print("b is greater")
    else:
        print("c is greater")

input 1st number: 3
input 2nd number: 6
input 3rd number: 9
c is greater

In [12]:
#elif condition   (elif stands for else if (multiple statements))

marks=86
if(marks>=90):
    print("A+")
elif(80<=marks<90):
    print("A")
elif(70<=marks<80):
    print("B")
elif(60<=marks<70):
    print("C")
else:                            #else is optional
    print("D")

A

In [10]:
# accept any chartacter from the user and check wheather it is vowel or not
char=(input("Enter a single character: ")).lower()
if char in ('a','e','i','o','u'):
    print(f"{char} is a vowel.")
else:
    print(f"{char} is not a vowel.")

Enter a single character: A
a is a vowel.

In [11]:
# take a single digit number from the user and print it in words

In [ ]:
# while loop

'''while condition:
        statement
        updation     '''

In [13]:
count=1
while count<=5:
    print(count)
    count +=1

1
2
3
4
5

In [15]:
#write a program to print first ten natural number in decreasing order
initial=10
while initial>=1:
    print(initial)
    initial-=1

10
9
8
7
6
5
4
3
2
1

In [19]:
#write a python program to take a string literal from a user and print its character

text=str(input("Enter a string literal: "))
n=0
while n<len(text):
    print(text[n],end=" ")
    n+=1

Enter a string literal: python program
p y t h o n   p r o g r a m

In [1]:
#write apython program to generate series of odd numbers from 1 to 20

count=1
while count<=20:
    if count%2!=0:
        print(count)
    count=count+1

1
3
5
7
9
11
13
15
17
19

In [2]:
#write a program to prompt a user accept any string literal until entering thank you

st1=" "
while st1!="Thank you":
    st1=input("Enter any string: ")

Enter any string: learning
Enter any string: pyhton
Enter any string: program
Enter any string: Thank you

In [4]:
st1=" "
while "thank you" not in st1:
    st1=input("Entyer any string: ")

Entyer any string: python program is running
Entyer any string: python program is running till i type thank you

In [ ]:
#for loop
#iterates over a sequence (e.g list, tuple, dictionary, range,)

'''for var_name in sequence:
        statements'''

In [3]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [9]:
L1=[3.5,3.6,7.8,9.1]
for i in L1:
    print(i+2)

5.5
5.6
9.8
11.1

In [10]:
t1=(3.5,3.6,7.8,9.1)
for i in t1:
    print(i*2)

7.0
7.2
15.6
18.2

In [11]:
d1={'city1':'mumbai','city2':'delhi','city3':'pune'}
for i in d1:
    print(i)

city1
city2
city3

In [15]:
s1="python is fun"
for i in s1.split():
    print(i)

python
is
fun

In [18]:
#write a factorial representation

num=int(input("input a number: "))
if num>0:
    fact=1
    for i in range(1,num+1):
        fact=fact*i
    print(fact)

input a number: 8
40320

In [25]:
#write a factorial representaton using if else

num=int(input("input a number"))
if num>0:
    fact
else:
    if num==0:
        print("the favtorial is 1")
    if num<0:
        print("the factorial of negative cannot be difined")

input a number8
1

In [48]:
#write a program to check weather the number is prime or not

num=int(input("input a number: "))
if num>1:
    for i in range(2,(num//2)+1):      #for i in range(2,int(n/2)+1)    #for i in range(2,(n**0.5)+1)
        if num%i==0:
            print("{} is not prime.".format(num))
            break
    else:
        print("{} is prime.".format(num))
else:
    print("{} is not prime.".format(num))

input a number: 2
2 is prime.

In [63]:
#write a program to generate fibonacci series
n=int(input("enter the number of terms: "))
a=0
b=1
count=0
if n<=0:
    print("enter a positive integer.")
elif n==1:
    print("fibonacci series upto {} term is.".format(n))
    print(a)
else:
    while count<n:
        print(a,end=" ")
        a,b=b,a+b
        count+=1

enter the number of terms: 10
0 1 1 2 3 5 8 13 21 34

In [69]:
#write a python program to print all prime nubers between 1 t0 50
a=int(input())
b=int(input())
for x in range(a,b):
    for i in range(2,(x//2)+1):
        if x%i==0:
            break
    else:
        print(x,end=" ")

2
50
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [71]:
#patterns
n=int(input("enter number of rows: "))
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")
    print()

enter number of rows: 5
*
* *
* * *
* * * *
* * * * *

In [77]:
n=int(input("enter number of rows: "))
for i in range(0,n):
    for j in range(0,n-i):
        print("*",end=" ")
    print()

enter number of rows: 5
* * * * *
* * * *
* * *
* *
*

In [78]:
n=int(input("enter number of rows: "))
for i in range(0,n):
    for j in range(0,n-i-1):
        print(" ",end=" ")
    for j in range(0,i+1):
        print("*",end=" ")
    print()

enter number of rows: 5
        *
      * *
    * * *
  * * * *
* * * * *

In [14]:
n=int(input("enter number of rows: "))
for i in range(0,n):
    for j in range(0,n-i-1):
        print(" ",end="")
    for j in range(0,i+1):
        print("*",end=" ")
    print()

enter number of rows: 5
    *
   * *
  * * *
 * * * *
* * * * *

In [11]:
n=int(input("enter number of rows: "))
for i in range(0,n):
    for j in range(0,i+1):
        print(" ",end="")
    for j in range(0,n-i):
        print("*",end=" ")
    print()

enter number of rows: 5
 * * * * *
  * * * *
   * * *
    * *
     *

In [17]:
n=int(input("enter number of rows: "))
for i in range(0,n):
    for j in range(0,n-i-1):
        print(" ",end="")
    for j in range(0,2*i+1):
        print("*",end="")
    print()

enter number of rows: 5
    *
   ***
  *****
 *******
*********

In [18]:
n=int(input("enter the number of rows: "))
for i in range(0,n):
    for j in range(0,n):
        print("*",end=" ")
    print()

enter the number of rows: 5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [20]:
n=int(input("enter number of rows: "))
for i in range(0,n):
    count=1
    for j in range(0,i+1):
        print(count,end=" ")
        count+=1
    print()

enter number of rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [28]:
n=int(input("enter number of rows: "))
for i in range(0,n):
    char=65
    for j in range(0,i+1):
        print(chr(char),end=" ")
        char+=1
    print()

enter number of rows: 5
A
A B
A B C
A B C D
A B C D E

In [2]:
n=int(input("enter number of rows: "))
i=0
while(i<n):
    j=0
    while(j<i+1):
        print(j+1,end=" ")
        j+=1
    i+=1
    print()

enter number of rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
n=int(input("enter number of rows: "))
for i in range(0,n):
    char=65
    for j in range(0,i+1):
        print(chr(char),end=" ")
        char+=1
    print()

enter number of rows: 5
A
A B
A B C
A B C D
A B C D E

In [21]:
n=int(input("enter number of rows: "))
count=1
for i in range(0,n):
    for j in range(0,n-i):
        print(count,end=" ")
        count+=1
    print()

enter number of rows: 4
1 2 3 4
5 6 7
8 9
10

In [36]:
#write a program to take positive integer from user and check wheather the numbere is palindrome or not
num=int(input("input positive integer: "))
temp=num
rev=0
while(num!=0):
    r=num%10
    num=num//10
    rev=rev*10+r
if(rev==temp):
    print("{} is a palindrome.".format(temp))
else:
    print("{} is not a palindrome.".format(temp))

input positive integer: 343
343 is a palindrome.

In [ ]:
#write a program to reverse the string

In [ ]:
#write a program to reverse the internal content of the string

In [ ]:
#program to print characters at odd position and even position

In [ ]:
#program to merge characters of two strings into a single string by taking characters alternatively
''' e.g s1=python
        s2=world
        output=pwyotrhlodn '''

In [ ]:
#program to sort the characters of the string first alphabate symbol followed by numeric
''' s1=B4F1C3X5
    output=BFCX4135 '''

In [ ]:
''' s1= B3A2F4
    output=BBBAAFFFF '''

In [ ]:
#remove duplicates
''' aaabbbbccddeeff '''

In [ ]:
#count number of characters how many times it occurs

In [1]:
#write a python program to print the table of given number
n=int(input("enter the number: "))
for i in range(1,11):
    print(n*i)

enter the number: 2
2
4
6
8
10
12
14
16
18
20

In [3]:
# break

for i in range(1,6):
    if(i==3):
        break
    print(i)
print("hello")

1
2
hello

In [4]:
#continue

for i in range(1,6):
    if(i==3):
        continue
    print(i)
print("hello")

1
2
4
5
hello

In [ ]:
#introduction to functions and function calls
#why use function?
   #code reusability
   #modularity
   #ease of debugging
    
''' syntax of a function
      
      def function_name(parameters):  '''


''' optional docstring to describe the function.'''
    #function body
    #return value  #optional


#function call

''' function_name(arguments) '''

In [6]:
#sum of two numbers
def findSum(a,b):
    result=a+b
    return result
x=int(input("input x: "))
y=int(input("input y: "))
z=findSum(x,y)         #function call
print(z)

input x: 5
input y: 7
12

In [16]:
def findSum():
    result=x+4
    print("result is: ",result)
x=5
y=7
z=findSum()

result is:  9

In [24]:
def arithmatic(num1,num2):
    '''function will return addition,subtraction,multiplication&division of two numbers'''
    add=num1+num2
    sub=num1-num2
    multiply=num1*num2
    div=num1/num2
    return add,sub,multiply,div

a,b,c,d=arithmatic(2,3)
print(a,b,c,d)
arithmatic.__doc__

5 -1 6 0.6666666666666666

'function will return addition,subtraction,multiplication&division of two numbers'

In [27]:
#create a function in python to find a factorial of anumber
def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return f
a=int(input("input the number: "))
b=fact(a)
print(b)

input the number: 8
40320

In [5]:
#create a function to generate fibpnacci series

def fib(n):
    fib_series=[]
    a=0
    b=1
    count=0
    while count<n:
        fib_series.append(a)
        a,b=b,a+b
        count+=1
    return fib_series
a=int(input("input number of terms: "))
x=fib(a)
print(x)

input number of terms: 8
[0, 1, 1, 2, 3, 5, 8, 13]

In [6]:
#create a function to generate fibpnacci series

def fib(n):
    a=0
    b=1
    count=0
    while count<n:
        print(a,end=" ")
        a,b=b,a+b
        count+=1
a=int(input("input number of terms: "))
x=fib(a)

input number of terms: 8
0 1 1 2 3 5 8 13

In [ ]:
#arguments passing